footer{
    background-color: theme-color(black);
    color: theme-color(white);
    padding: $grid-gutter 0;

    section{
        margin-bottom: 20px;
    }

    
    img{
        width: 200px;
    }
    
    .textwidget{
        font-size: .8em;
        color: transparentize($color: #ffffff, $amount: .5)
    }
    
    .menu-footer-container{
        display: flex;
        justify-content: flex-end;
    }

    li{
        list-style: none;

        a{
            color: theme-color(white);
            text-transform: uppercase;
            font-size: .8em;

            i{
                display: inline-block;
                margin-left: 10px;
            }

            &:hover{
                text-decoration: none;
                color: theme-color(orange);
            }
        }
    }
}