footer{
    background-color: theme-color(black);
    color: theme-color(white);
    padding: $grid-gutter / 2 0;
    
    @include media-breakpoint-up(md){
        padding: $grid-gutter 0;
    }

    section{
        margin-bottom: 20px;
    }

    .row{
        flex-flow: column-reverse;

        @include media-breakpoint-up(md){
            flex-flow: column;
        }
    }
    
    img{
        width: 200px;
    }
    
    .textwidget{
        font-size: .8em;
        color: transparentize($color: #ffffff, $amount: .5)
    }
    
    .menu-footer-container{
        display: flex;

        @include media-breakpoint-up(md){
            justify-content: flex-end;
        }
    }

    #menu-footer{
        padding-left: 0;
    }

    li{
        list-style: none;

        a{
            color: theme-color(white);
            text-transform: uppercase;
            
            @include media-breakpoint-up(md){
                font-size: .8em;
              }

            i{
                display: inline-block;
                margin-left: 10px;
            }

            &:hover{
                text-decoration: none;
                color: theme-color(orange);
            }
        }
    }
}