.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header.banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 10px;
  height: 70px;
  overflow: hidden;
  transition: .25s;
  background-color: theme-color(black);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  a.brand{
    img{
      width: 150px;

      &.black{
        display: none;
      }
    }
  }

  .nav-primary{
    flex: 0 0 100%;
  }

  .nav{
    flex-flow: column;
    align-items: center;

    li:nth-child(3){
      flex: 1;
      margin-bottom: $grid-gutter;

      &:after{
        display: block;
        content: '';
        width: $grid-gutter;
        height: 2px;
        margin: auto;
        margin-top: $grid-gutter;
        background-color: theme-color(orange);
      }

      @include media-breakpoint-up(xl){
        margin-bottom: 0;

        &:after{
          display: none;
        }
      }
    }
  }

  .hamburger{
    font-size: 30px;
    color: theme-color(black);
    cursor: pointer;

    .fa-times{
      display: none;
    }
  }

  &.active{
    height: 100vh;
    background-color: theme-color(black);

    .fa-times{
      display: inline-block;
    }

    .fa-bars{
      display: none;
    }
    
    a.brand{
      img{
        &.black{
          display: none;
        }
      }
    }

    a{
      color: theme-color(white);
    }
  }

  @include media-breakpoint-up(xl){
    display: block;
    height: auto;
    padding: 20px;

    a.brand{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .hamburger{
      display: none;
    }

    .nav{
      flex-flow: row;
    }
  }

}



.banner nav.nav-primary{
  a{
    display: inline-block;
    color: theme-color(white);
    text-transform: uppercase;
    transition: .25s;

    @include media-breakpoint-up(xl){
      font-size: .8em;
    }

    &:hover{
      color: theme-color(orange);
    }

    i{
      display: inline-block;
      margin-left: 10px;
    }
  }

  li{

    &:nth-child(3){
      flex: 1;
    }
  }
}


body.home{
  header.banner{
    background-color: transparent;
    
    a{
      color: theme-color(black);

      &:hover{
        color: theme-color(orange);
      }
    }

    a.brand{
      img{
        &.white{
          display: none;
        }
        
        &.black{
          display: block;
        }
      }
    }
  }

  &.scrolled{
    header.banner{
      background-color: theme-color(black);
      
      a{
        color: theme-color(white);
  
        &:hover{
          color: theme-color(orange);
        }
      }
  
      a.brand{
        img{
          &.black{
            display: none;
          }
          
          &.white{
            display: block;
          }
        }
      }
    }
  }
}