.banner .nav li {
  @extend .nav-item;
  padding: .5rem 1rem;
}

.banner .nav a {
  @extend .nav-link;
  padding: 0;
}

header.banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 10px;
  height: 70px;
  overflow: hidden;
  transition: .25s;
  background-color: theme-color(black);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  a.brand{
    img{
      width: 150px;

      &.black{
        display: none;
      }
    }
  }

  .nav-primary{
    flex: 0 0 100%;
  }

  .nav{
    flex-flow: row wrap;
    align-items: center;

    @include media-breakpoint-down(lg){
      li{
        width: 100%;
        text-align: center;
  
        &:nth-last-child(2){
          width: 50%;
          text-align: right;
        }
  
        &:last-child{
          width: 50%;
          text-align: left;
        }
      }
    }

    #menu-item-406{
      margin-left: 0; // Instagram
    }

    li:nth-child(3){
      flex: 1;
      margin-bottom: $grid-gutter;

      &:after{
        display: block;
        content: '';
        width: $grid-gutter;
        height: 2px;
        margin: auto;
        margin-top: $grid-gutter;
        background-color: theme-color(orange);
      }

      @include media-breakpoint-up(xl){
        margin-bottom: 0;

        &:after{
          display: none;
        }
      }
    }

    li:nth-last-child(2){
      padding-right: 5px;
    }

    li:last-child{
      padding-left: 0;

      &:before{
        content: "|";
        padding-right: 5px;
      }
    }
  }

  .hamburger{
    font-size: 30px;
    color: theme-color(black);
    cursor: pointer;

    .fa-times{
      display: none;
    }
  }

  &.active{
    height: 100vh;
    background-color: theme-color(black);

    .fa-times{
      display: inline-block;
    }

    .fa-bars{
      display: none;
    }
    
    a.brand{
      img{
        &.black{
          display: none;
        }
      }
    }

    a{
      color: theme-color(white);
    }
  }

  @include media-breakpoint-up(xl){
    display: block;
    height: auto;
    padding: 20px;

    a.brand{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .hamburger{
      display: none;
    }

    .nav{
      flex-flow: row;
    }
  }

}

// All social links
li.first-social{
  &:before{
    content: 'Follow Us';
    color: theme-color(white);
    text-transform: uppercase;
    font-size: .8em;
    margin-right: 5px;
  }
}



.banner nav.nav-primary{
  a{
    display: inline-block;
    color: theme-color(white);
    text-transform: uppercase;
    transition: .25s;

    @include media-breakpoint-up(xl){
      font-size: .8em;
    }

    &:hover{
      color: theme-color(orange);
    }

    i{
      display: inline-block;
      margin-left: 10px;
    }
  }

  li{

    &.current-menu-item{
      a{
        color: theme-color(orange);
      }
    }

    &:nth-child(3){
      flex: 1;
    }
  }
}


body.home{
  header.banner{
    background-color: transparent;
    
    a{
      color: theme-color(black);

      &:hover{
        color: theme-color(orange);
      }
    }

    li.first-social{
      &:before{
        color: theme-color(black);
      }
    }

    .nav li{
      &:nth-child(3) a{
        color: inherit;

        &:hover{
          color: theme-color(orange);
        }
      }
      &:nth-last-child(2) a{
        color: theme-color(orange);
      }
    }

    a.brand{
      img{
        &.white{
          display: none;
        }
        
        &.black{
          display: block;
        }
      }
    }
  }

  &.scrolled header.banner,
  header.banner.active{
      background-color: theme-color(black);
      
      a{
        color: theme-color(white);
  
        &:hover{
          color: theme-color(orange);
        }
      }

      li.first-social{
        &:before{
          color: theme-color(white); 
        }
      }

      .nav li{
        &:nth-child(3) a{
          color: theme-color(white);

          &:hover{
            color: theme-color(orange);
          }
        }
      }
  
      a.brand{
        img{
          &.black{
            display: none;
          }
          
          &.white{
            display: block;
          }
        }
      }
    }
}

// Translation Tool
.banner{

  &.active .nav li{
    &:last-child:before{
      color: theme-color(white);
    }
  }
}

.scrolled .banner .nav li{
  &:nth-last-child(2) a{
    color: theme-color(orange);
  }

  &:last-child:before{
    color: theme-color(white);
  }
}

.translatepress-es_MX{
  .banner .nav li{
    &:nth-last-child(2) a{
      color: theme-color(black);
    }

    &:last-child a{
      color: theme-color(orange);
    }
  }

  .banner.active .nav li{
    &:nth-last-child(2) a{
      color: theme-color(white);
    }
  }

  &.scrolled{
    .banner .nav li{
      &:nth-last-child(2) a{
        color: theme-color(white);
      }
    }
  }
}