.page.home{
    section{
        padding: $grid-gutter * 2 0;
    }

    #intro{
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: $grid-gutter;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;

        h2{
            font-size: 3.5em;
            color: theme-color(blue);
        }

        p{
            font-size: 1.5em;
        }
    }

    #register,
    #track{
        padding: 0;
        background-color: theme-color(blue);

        .text{
            display: flex;
            align-items: center;
            min-height: 500px;

            .wrap{
                padding: $grid-gutter;
            }
        }

        .image{
            background-size: cover;
        }
    }

    #register{
        h3{
            color: theme-color(orange);
        }
    }

    #track{
        background-color: transparent;
    }

    #registerForm{
        padding:0;
        line-height: 0;
    }

    #newsletter{
        background-color: theme-color(orange);
        text-align: center;
    }

    #dates{
        background-color: theme-color(teal);
        color: theme-color(white);

        h3{
            text-align: center;
        }

        .container{
            max-width: 500px;
        }

        .date-wrap{
            border-bottom: 1px solid theme-color(black);
            padding-bottom: $grid-gutter;
            margin-bottom: $grid-gutter;

            &:first-child{
                padding-top: $grid-gutter;
            }

            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }

            .date{
                font-size: 2em;
            }
        }
    }

    #faq{
        .question{
            margin-bottom: $grid-gutter / 2;

            .drawer-title{
                display: flex;
                align-items: baseline;
                color: theme-color(blue);

                &:before{
                    content: "+";
                    flex: 0 0 $grid-gutter;
                    font-size: 2em;
                    padding-top: 5px;
                }
            }

            .drawer-content{
                padding-left: $grid-gutter;
            }

            &.active{
                .drawer-title{
                    &:before{
                        content: "-";
                    }
                }
            }
        }
    }

    #about{
        background-color: theme-color(blue);
        color: theme-color(white);
        text-align: center;
        
        h3{
            color: theme-color(orange);
        }
    }
}