.page.home{
    main section{
        padding: $grid-gutter 0;
        
        @include media-breakpoint-up(md){
            padding: $grid-gutter * 2 0;
        }
    }

    #intro{
        min-height: 100vh;
        padding-top: $grid-gutter * 2;
        
        text-align: center;

        background-repeat: no-repeat;
        background-size: 60%;
        background-position: left bottom;

        h2{
            font-size: 2.2em;
            margin-bottom: 20px;
            color: theme-color(blue);

            .underlined{
                background-image: url(../images/underline-orange.svg);
            }
        }

        @include media-breakpoint-up(md){
            min-height: 80vh;
            margin-top: $grid-gutter;

            display: flex;
            align-items: center;
            justify-content: center;

            background-size: contain;
            background-position: left top;

            h2{
                font-size: 3.5em;
            }
    
            p{
                font-size: 1.5em;
            }
        }
    }

    #register,
    #track{
        padding: 0;
        background-color: theme-color(blue);
        overflow: hidden;

        .text{
            display: flex;
            align-items: center;

            .wrap{
                padding: $grid-gutter;
            }
        }

        .image{
            background-size: cover;
            min-height: 500px;
        }
    }

    #register{
        h3{
            color: theme-color(orange);
        }
    }

    #track{
        background-color: transparent;
    }

    #registerForm{
        height: 0;
        overflow: hidden;
        padding:0;
        line-height: 0;
        transition: .5s;

        &.active{
            height:650px;
        }
    }

    #newsletter{
        background-color: theme-color(orange);
        text-align: center;

        .underlined{
            background-image: url(../images/underline-white.svg);
        }

        .form-wrap{
            display: flex;
            align-items: baseline;
            justify-content: center;

            input[type="text"]{
                border: 0;
                border-bottom: 2px solid black;
                background-color: transparent;
                padding: 10px 20px;
                margin-right: 10px;
                flex: 1;
                max-width: 500px;

                &:focus{
                    outline: 0;
                }

                &::placeholder{
                    color: transparentize($color: #000000, $amount: .4);
                }

                &:-internal-autofill-selected{
                    background-color: transparent!important;
                }
            }

            input[type="submit"]{
                background-color: theme-color(blue);
                color: theme-color(white);
                text-transform: uppercase;
                border: 0;
                border-radius: 0;
                outline: 0;
                padding: 10px 20px;
            }
        }
    }

    #dates{
        background-color: theme-color(teal);
        color: theme-color(white);

        h3{
            text-align: center;
        }

        .container{
            max-width: 800px;
        }

        .date-wrap{
            border-bottom: 1px solid theme-color(black);
            padding-bottom: $grid-gutter / 2;
            margin-bottom: $grid-gutter / 2;
            align-items: center;

            &:first-child{
                padding-top: $grid-gutter;
            }

            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }

            .date{
                h4{
                    font-size: 2em;
                    margin-bottom: 0;
                }
            }

            .text{
                font-size: 1.1em;
            }
        }
    }

    #faq{
        .question{
            margin-bottom: $grid-gutter / 2;

            .drawer-title{
                display: flex;
                align-items: baseline;
                color: theme-color(blue);

                &:before{
                    content: "+";
                    flex: 0 0 $grid-gutter;
                    font-size: 2em;
                    padding-top: 5px;
                }
            }

            .drawer-content{
                padding-left: $grid-gutter;
            }

            &.active{
                .drawer-title{
                    &:before{
                        content: "-";
                    }
                }
            }
        }
    }

    #about{
        background-color: theme-color(blue);
        color: theme-color(white);
        text-align: center;
        
        h3{
            color: theme-color(orange);
        }
    }
}