.page{
 .main{
    padding: 150px 0 100px;
    min-height: 100vh;
 }
}

.page.home{
    main{
        padding: 0;

        section{
            padding: $grid-gutter 0;
            
            @include media-breakpoint-up(md){
                padding: $grid-gutter * 2 0;
            }
        }

        h3{

            @include media-breakpoint-up(md){
                font-size: 2em;
            }
        }
    }

    #intro{
        min-height: 100vh;
        padding-top: $grid-gutter * 2;
        
        text-align: center;

        background-repeat: no-repeat;
        background-size: auto 60%;
        background-position: center bottom;

        h2{
            font-size: 2.2em;
            margin-bottom: 20px;
            color: theme-color(blue);

            .underlined{
                background-image: url(../images/underline-orange.svg);
            }
        }

        @include media-breakpoint-up(md){
            min-height: 80vh;
            margin-top: $grid-gutter;

            display: flex;
            align-items: center;
            justify-content: center;

            background-size: 50%;
            background-position: left bottom;

            .container{
                max-width: 50%;
                margin-right: $grid-gutter;
            }

            h2{
                font-size: 3.5em;
            }
    
            p{
                font-size: 1.5em;
            }
        }

        @include media-breakpoint-up(lg){
            background-size: contain;
        }

        @include media-breakpoint-up(xl){

            .container{
                max-width: none;
                margin-left: 25%;
                margin-right: $grid-gutter;
            }
        }
    }

    #register,
    #track{
        padding: 0;
        background-color: theme-color(blue);
        overflow: hidden;

        .text{
            display: flex;
            align-items: center;

            .wrap{
                padding: $grid-gutter;
            }
        }

        .image{
            background-size: cover;
            min-height: 200px;

            @include media-breakpoint-up(md){
                min-height: 500px;
            }
        }
    }

    #register{
        h3{
            color: theme-color(orange);
        }
    }

    #track{
        background-color: transparent;

        .row{
            flex-flow: column-reverse;

            @include media-breakpoint-up(md){
                flex-flow: row;
            }
        }
    }

    #registerForm{
        height: 0;
        background-color: theme-color(white);
        overflow: hidden;
        padding:0;
        line-height: 0;
        transition: .5s;

        &.active{
            height:1700px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            @include media-breakpoint-up(md){
                height:1600px;
            }

            iframe{
                height: auto;
                margin-bottom: $grid-gutter / 2;
            }
        }
    }

    #newsletter{
        background-color: theme-color(orange);
        text-align: center;

        .underlined{
            background-image: url(../images/underline-white.svg);
        }

        .success{
            opacity: 0;
            height: 1em;
            transition: .25s;
            visibility: hidden;
        }
        
        &.active{
            .success{
                opacity: 1;
                visibility: visible;
            }   
        }
    }

    #dates{
        background-color: theme-color(teal);
        color: theme-color(white);

        h3{
            text-align: center;
            color: theme-color(black);
        }

        .container{
            max-width: 800px;
        }

        .date-wrap{
            border-bottom: 1px solid theme-color(black);
            padding-bottom: $grid-gutter / 2;
            margin-bottom: $grid-gutter / 2;
            align-items: center;

            &:first-child{
                padding-top: $grid-gutter;
            }

            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }

            .date{
                h4{
                    font-size: 2em;
                    margin-bottom: 0;
                }
            }

            .text{
                font-size: 1.1em;
            }
        }
    }

    #faq{
        .question{
            margin-bottom: $grid-gutter / 2;

            h4{
                margin-bottom: 0;
            }

            .drawer-title{
                display: flex;
                align-items: baseline;
                color: theme-color(blue);

                &:before{
                    content: "+";
                    flex: 0 0 $grid-gutter;
                    font-size: 2em;
                    padding-top: 5px;
                }
            }

            .drawer-content{
                padding-left: $grid-gutter;
                margin-top: 10px;
            }

            &.active{
                .drawer-title{
                    &:before{
                        content: "-";
                    }
                }
            }
        }
    }

    #about{
        background-color: theme-color(blue);
        color: theme-color(white);
        text-align: center;
        
        h3{
            color: theme-color(orange);
        }
    }
}

// PAGE ABOUT

.page.about{
    background-color: theme-color(blue);
    color: theme-color(white);
    @extend .scrolled;

    @media (min-width: 1200px){
        main .container {
            max-width: 900px;
        }
    }

    main{
        h1, h2{
            color: theme-color(orange);
            text-align: center;
        }
    
        h2{
            margin-top: $grid-gutter;
        }
    
        ul{
            padding-left: 0;
            list-style: none;
    
            li{
                margin-bottom: .5em;
            }
        }
    }
}

// Voter Tools
.page.voter-tools{
    h1,
    #top{
        text-align: center;
    }

    #tools{
        margin-top: $grid-gutter;
    }

    .action-links{
        margin-bottom: $grid-gutter;
    }

    .action-link{
        display: block;
        background: theme-color(grey);
        color: theme-color(white);
        font-weight: 600;
        padding: 1em;
        padding-right: 3em;
        margin-bottom: 10px;

        &.active{
            background: theme-color(blue);
        }

        &:hover{
            background: theme-color(orange);
            text-decoration: none;
        }

        &:after{
            content: "►";
            position: absolute;
            right: 2em;
        }
    }

    .action{
        display: none;

        &.active{
            display: block;
        }
    }
}