.single{
    .main{
        padding: 0px 0 100px;
        min-height: 100vh;
    }

    .container{
        max-width: 900px;
    }

    article{
        header{
            padding: 150px 0 20px;
            margin-bottom: $grid-gutter / 2;

            h1{
                color: theme-color(orange);
                margin-bottom: 0;
            }
        }

        .thumbnail{
            margin-bottom: $grid-gutter;

            img{
                width: 100%;
                max-width: 100%;
                margin: auto;
            }
        }

        a:not(.wp-block-button__link){
            color: theme-color(blue);

            &:hover{
                text-decoration: underline;
            }
        }
    }
}