body{
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    background-color: theme-color(beige);
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4{
    font-family: 'Gilam';
    margin-bottom: $grid-gutter / 2;
}

h3{
    font-size: 2em;
}

a.button{
    font-family: 'Gilam';
    background-color: theme-color(black);
    color: theme-color(white);
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    transition: .25s;

    &:hover{
        text-decoration: none;
        background-color: theme-color(orange);
    }
}

.underlined{
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    white-space: nowrap;
    padding-bottom: 1px;
}

//Drawers
.drawer-wrap{
    .drawer-title{
        cursor: pointer;

        &:hover{
            color: theme-color(orange);
        }
    }

    .drawer-content{
      display: none;
    }
  
    &.active{
      .drawer-content{
        display: block;
      }
    }
  }